{
  "parser": "babel-eslint",
  "extends": ["standard"],
  "plugins": ["babel"],
  "env": {
    "browser": true,
    "jquery": true
  },
  "globals": {
    "__DEV__": false,
    "__PROD__": false
  },
  "rules": {
    "semi": [2, "never"],
    "max-len": [2, 100, 2],
    "space-before-function-paren": "off",
    "padded-blocks": "off"
  }
}
