<div class="protected" itemscope itemtype="http://schema.org/SoftwareApplication">
    <div class="protectedIntroBody">
        <section class="importantContainer">
            <div class="container">
                <section class="row">
                    <div class="col-md-12"> 
                        <div class="introHeader">
                            <h1>Kickstarter Themes</h1>
                                <p class="lead">Share your theme with the community in the next version of Bootstrap Magic</p>

                                <p>If you want to share your awesome theme and let others to use it as free,<br> Send us your Bootstrap theme variables, the theme's name, your nickname and the URL of your website.</p>
                                <br>
                                <p class="buttonsBlocks">
                                    <a class="btn btn-magic btn-lg" href="https://docs.google.com/forms/d/13-rmgMmxfem_36ThuaAM3sWeLs7EIKZMOxOo-nNMmSI/viewform" title="try bootstrap themes generator angularjs">
                                      Submit your theme
                                    </a>
                                </p>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </div>
</div>


<div id="scrollTop" scroll-top="">↑</div>
