<div class="container">
    <div class="protected">
        <div class="protectedIntroBody">
            <section class="row">
            <div class="span12">	
                <div class="introHeader">
                    <h1>Bootstrap Magic <small>made with AngularJS</small></h1>
                        <p class="lead">Create simply your own <a href="http://twitter.github.com/bootstrap/index.html" title="Twitter Bootstrap themes generator">Twitter Bootstrap</a> theme. Like it ? Save it !</p>
                        <p class="buttonsBlocks">
                            <a class="btn btn-primary btn-large" href="#!/editor" title="try bootstrap themes generator angularjs">
                              <span class="apico games-white apico-brush"></span>Create your theme
                            </a>
                            <span class="github"><a href="https://github.com/thierryc/variables-bootstrap-angularJS-editor" title="angular js bootstrap themes generator">GitHub project</a></span>
                        </p>
                </div>
            </div>
        </section>

        <section class="row">
            <div class="span12">
                <h2 class="centerTitle">What's great ? </h2>
            
                <section class="row">
                    <div class="span4">
                        <h3><span class="apico games apico-eye-open"></span>Contextual preview</h3>
                        <p>See instantly what you are changing on the content.</p>
                    </div>
                    
                    <div class="span4">
                        <h3><span class="apico interface apico-magic-wand"></span>Typeahead magic</h3>
                        <p>Awesome typehead function included :<b> Find variables as you type.</b></p>
                    </div>
                    
                    <div class="span4">
                        <h3><span class="apico games apico-brush"></span>Colorpicker</h3>
                        <p>Got the color that you love with <a href="http://www.eyecon.ro/bootstrap-colorpicker/" title="colorpicker bootstrap">Colorpicker.</a></p>
                    </div>
                </section>
            
                <section class="row">
                    
                    <div class="span4">
                        <h3><span class="apico media apico-doc-out"></span>Download</h3>
                        <p>Satisfy? Download your personalized CSS, minified or not and LESS variables.</p>
                    </div>
                   
                   	<div class="span4">
                        <h3><span class="apico games apico-circle-plus"></span>Less included</h3>
                        <p>You like <a href="http://lesscss.org/" title="Less css">Less </a>? Bootstrap theme editor support lovely Less language with all the functions. Use all <b>the functions less that you love.</b></p>
                    </div>
                
                    <div class="span4">
                        <h3><span class="apico games apico-atoms"></span>AngularJS Project</h3>
                        <p><a href="http://angularjs.org/" title="angular js framework">Awesome framework</a> for an awesome project. Check out our <a href="https://github.com/thierryc/variables-bootstrap-angularJS-editor" title="angular js bootstrap theme editor">GitHub project.</a></p>
                    </div>
                    
                    
                </section>	
            
                <div class="buttonsDiv">
                    <p class="buttonsBlocks">
                        <a class="btn btn-primary btn-large" href="#!/editor" title="try bootstrap theme generator angularjs">
                          <span class="apico games-white apico-brush"></span>Create your theme
                        </a>
                        <span class="github"><a href="https://github.com/thierryc/variables-bootstrap-angularJS-editor" title="angular js bootstrap theme editor">GitHub project</a></span>
                    </p>
                </div>
            
            </div>
        </section>
    </div>
</div>