<div class="protected">
  <div class="protectedIntroBody">
      <section class="pikockContainer">
        <div class="overlayContainer"></div>
        <div class="container">
          <section class="row">
              <div class="col-md-12"> 
                  <div class="intro">
                      <img src="img/logo_pikock.png" alt="create your website with Pikock">
                      <!-- <h1><span itemprop="name">Pikock </span><small>made with AngularJS and Rails</small></h1> -->
                          <p class="lead"><span itemprop="description">Create your online presence easily with Pikock</p>
                          <p class="buttonsBlocks">
                              <a class="btn btn-primary btn-lg" href="http://www.pikock.com/en" title="Create your website">
                                Create your website now
                              </a>
                          </p>
                  </div>
                 
              </div>
          </section>
        </div>
      </section>
  </div>
   <div class="credit">Photo credit : DeclanTM</div>
</div>