// GENERIC
.bg-purple {
  background: $purple;
}

.bg-indigo {
  background: $indigo;
}
.protected {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
  }

  &.content {
    overflow: hidden;
  }
  .is-green {
    color: $green;
  }

  .container {
    padding-left: 0;
    padding-right: 0;

    &.is-big {
      padding: 6rem 0;
    }
  }

  a {
    color: #83858f;
    letter-spacing: -0.21px;
  }

  .card-img-top {
    margin: 34px 0 10px;
  }

  a.fancy-button {
    background-image: linear-gradient(-80deg, #0be49b 0%, #14cbd9 100%);
    box-shadow: 0 0 25px 0 #0c7563;
    border-radius: 2px;
    padding: 11px 20px 9px 23px;
    color: #ffffff;
    letter-spacing: 0.01px;

    &.is-boring {
      background: transparent;
      border: 1px solid #ffffff;
      box-shadow: 0 0 8px 0 rgba(200, 200, 200, 0.5);
      border-radius: 2px;
    }

    &.is-big {
      margin: 30px 0 10px;
    }

    &.is-small {
      margin: 0;
    }

    &:hover {
      background-position: 27%;
      background-size: 200% auto;
    }

    @extend .btn;
  }

  .fancy-border {
    border: 1px solid #0fd9b6;
    box-shadow: 0 0 30px 0 rgba(15, 217, 182, 0.36);
  }
}

// HOME
.protected {
  .rs div,
  .rs a {
    float: left;
  }

  .logo-header {
    margin: 80px 0 20px;
  }
  nav {
    padding: 0.5rem 2rem;
    border-bottom: 1px solid #2d2f54;
  }

  &footer {
    border-top: 1px solid #2d2f54;
    .rs div,
    .rs a {
      width: 100%;
    }
  }

  .section-cta {
    .block-cta {
      height: 100%;
      padding: 40px 20px 0;
      margin-bottom: -40px;
    }
    @include media-breakpoint-up(lg) {
      .block-cta {
        height: auto;
        padding: 170px 0 170px 53px;
        margin: initial;
      }
    }

    img {
      width: 100%;
      padding: 40px 0;
    }
  }

  .container.is-big.newsletter {
    padding: 5rem 5em 10em !important;
    position: relative;

    .form-inline .form-group {
      flex: 1 0 auto;
      margin: 0;
    }

    input {
      width: 100%;
    }
  }
}

// ANIMATION
.protected {
  .paper-plane {
    position: absolute;
    top: 1px;
    right: 0px;

    @include media-breakpoint-up(md) {
      right: 35px;
    }

    @include media-breakpoint-up(lg) {
      right: 80px;
    }

    @include media-breakpoint-up(xl) {
      right: 100px;
    }
  }

  .box {
    width: 90px;
    height: 90px;
    margin: 80px auto 20px;
    border-radius: 100%;
    border: 4px solid white;
    background: white;
    box-shadow: 0 2px 150px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to left top, #06f07d, #18bff6);
    position: relative;
    overflow: hidden;
    transform: translateZ(0);
  }

  .wave {
    opacity: 0.4;
    position: absolute;
    top: 3%;
    left: 50%;
    background: rgba(15, 16, 35, 0.56);
    width: 200px;
    height: 200px;
    margin-left: -100px;
    margin-top: -155px;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 2.5s infinite linear;
  }

  .wave.-three {
    animation: drift 5000ms infinite linear;
  }

  .wave.-two {
    animation: drift 9000ms infinite linear;
    opacity: 1;
    background: rgba(15, 16, 35, 1);
  }

  .box:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    z-index: 11;
    transform: translate3d(0, 0, 0);
  }

  .title {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    line-height: 300px;
    text-align: center;
    transform: translate3d(0, 0, 0);
    color: white;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.4em;
    font-size: 24px;
    text-shadow: 0 1px 0 rgba(black, 0.1);
    text-indent: 0.3em;
  }
  @keyframes drift {
    from {
      transform: rotate(0deg);
    }
    from {
      transform: rotate(360deg);
    }
  }
}

// EDITOR SPECIFIC
.protected.editor {
  nav {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100vw;
    font-size: 14px;
    color: #ffffff;
    letter-spacing: -0.25px;
    max-height: $editor-menu-height;
    padding: 8px;

    .nav-link {
      margin: 0 30px 0 0;
      color: white;
    }

    .navbar-brand {
      float: left;
      line-height: $editor-menu-height;
    }

    .dual-button {
      button,
      a.nav-link {
        float: left;
        margin: 0;
        border: 1px solid #ffffff;
        border-radius: 2px 0 0 2px;
      }
    }

    .responsive-submenu {
      padding: 13px 0 13px 22px;
      min-width: calc(#{$variables-container-width});
      height: $editor-menu-height;

      * {
        padding: 0;
        line-height: 1;
      }
    }

    &.editor-open {
      left: $variables-container-width;
      width: calc(100vw - #{$variables-container-width});

      .responsive-submenu {
        @extend .bg-indigo;
        min-width: $variables-container-width;
        position: fixed;
        bottom: 0;
        left: 0;
      }
    }
  }

  .preview {
    overflow: auto;
    height: calc(100vh - #{$editor-menu-height});
  }
}

.protected.editor .variables-container {
  width: $variables-container-width;
  height: $variables-container-height;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: auto;

  .from-group {
    margin: 0;
  }

  .category {
    background: $category-bg;
    color: $category-color;
    position: relative;
    padding: 13px;
  }

  .variables {
    background: $variables-bg;
    padding: $variables-padding;
    font-size: 14px;
    color: #ffffff;
    letter-spacing: 0.02px;

    input {
      font-family: $open-sans;
      background: #030413;
      color: #ffffff;
      border: 1px solid #e6e6e6;
    }
  }

  .arrow {
    position: absolute;
    right: 19px;
    &.is-left {
    }
    &.is-down {
    }
  }
}

.protected.editorHtml {
  margin-top: $editor-menu-height;

  h3 {
    margin: 0;
    height: 40px;
    line-height: 50px;
    background: $indigo;
  }

  .is-html .CodeMirror,
  .is-css .CodeMirror {
    height: calc(50vh - 65px);
  }
}

.protected.previewHtml {
  @extend .container-fluid;

  margin-top: $editor-menu-height;
}

.protected.templateHtml {
  @extend .bg-indigo;
  @extend .container-fluid;
  margin: $editor-menu-height auto auto;

  .card {
    max-width: 230px;
    width: 230px;
    min-height: 300px;
    margin-bottom: 20px;
  }

  h6 {
    margin-bottom: 30px;
  }

  .row {
    justify-content: start;
    align-items: end;
  }

  .col {
    flex-grow: 0;
  }

  img {
    min-height: 170px;
  }

  p {
    font-size: 14px;
    letter-spacing: -0.25px;
    line-height: 19px;
  }
}

.protectedHtml {
  width: $html-width;
  height: $html-height;
  background: $html-bg;
  position: fixed;
  right: 0;
  top: $editor-menu-height;
  iframe {
    width: 100%;
    height: 100vh;
  }
}
